.iconn {
    position: absolute;
    margin-left: 262px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    font-size: 8.16667rem;
    line-height: 1;
    text-align: center;
}

.iicon:hover {
    background-color: #fff;
    color: red;
}

header a {
    text-decoration: none;
    text-align: center;
    color: white;
}

header .icon+h2 {
    margin-top: 4.61111rem;
    color: white;
}

header h2 {
    font-size: 6.11111rem;
    line-height: 1;
}

header span {
    color: white;
    margin-top: 15px;
    text-align: center;
    line-height: 1;
    font-size: 2rem;
    display: block;
}

header .ul li+li {
    margin-top: 9px;
}
header *+.btn-2 {
    margin-top: 3.111111rem;
}

.btn-2 {
    text-decoration: none;
    display: inline-block;
    min-width: 14.1em;
    padding: 1.3em 2.85em;
    font-weight: 700;
    font-size: 1.11111rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 1.4em;
}

.btn-2:hover {
    background-color: grey;
    color: red;
}

header .ul {
    position: absolute;
    top: 25%;
    right: 48px;
    list-style: none;
}

header .ul+li {
    display: block;
}

.iicon {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: rgba(255,255,255,.22);
    border-radius: 50%;
}

.tea {
    text-align: center;
    color: white;
    background-color: #DB0004;
    padding: 10px;
    font-size: xx-large;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 1200px;
}

.burger {
    padding-left: 100px;
}

.content1 {
    background-color: #F4F4F4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container1 {
    width: 1200px;
}

.learn {
    text-decoration: none;
    color: red;
    text-align: right;
    font-size: x-large;
}

.content2 {
    background-color: #C0A702;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container2 {
    width: 1200px;
}

.md-add {
    margin-top: 22px;
}

.center {
    text-align: center;
}

.md-left {
    margin-top: 25px;
    margin-bottom: 25px;
}

.add-h3 {
    font-size: 2.333333rem;
    color: white;
}

.btn-2 {
    display: inline-block;
    min-width: 14.1em;
    padding: 1.3em 2.85em;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1.4em;
    margin-top: 10px;
    margin-bottom: 25px;
}

.content3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container3 {
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 80px;
}

.col-md-5 {
    width: 41.66667%;
}

.img-shift-3 {
    top: -13px;
    padding-left: 230px;
}

.click {
    background-color: #DB0004;
    color: white;
    text-decoration: none;
}
.here{
    background-color:yellow;
    color: white;
    text-decoration: none;
    font-weight: 500;
    min-width: 11.88889em;
    padding: 0.94444em 0.94444em 1em;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;
}
.here:hover{
    background:#5b4f01;
}

.content2>h1 {
    width: 50%;
    text-align: center;
}
.container4{
    padding-top: 80px;
    padding-bottom: 80px;
}

.content4 {
    background-color: #F4F4F4;
}

.feeling {
    position: absolute;
    color: white;
    padding-top: 190px;
    padding-left: 300px;
    text-align: center;
    font-size: xxx-large;
    font-weight: 900;
}

.container6 {
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: left;
    padding-left: 150px;
    padding-right: 100px;
}

h4 {
    font-size: 2rem;
    line-height: 1.2;
}

.content7 {
    background-color: #f4f4f4;
}

.container7 {
    width: 1200px;
    padding-top: 85px;
    padding-bottom: 100px;
}

.news {
    text-align: center;
    font-size: 2.22222rem;
    line-height: 1.2;
    padding-left: 360px;
}
.news+p {
    text-align: center;
    margin-top: 0.5555555rem;
    padding-left: 360px;
    padding-bottom: 40px;
}

.mailform {
    position: relative;
    display: inline-block;
    width: 100%;
}

.email {
    text-align: center;
}

.Sign {
    background-color: #DB0004;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 0;
}
footer {
    background: #e1e1e1;
    text-align: center;
}
footer>ul {
    list-style: none;
}
.container8 {
    width: 1200px;
    padding-left: 280px;
}
.Salad{
    padding-top:49px;
}
footer  li{
    display: inline-block;
    padding:20px;   
}
footer>ul li+li{
    margin-top: 20px;
}
footer>div:first-child {
    padding-top: 6.11111rem;
    padding-bottom: 5.66667rem;
}
.emonte{
    color: black;
    display: inline-block;
    width: 2.23077em;
    height: 2.23077em;
    line-height: 2.23077;
    font-size: 2.16667rem;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}
.emonte:hover{
    color:white;
    background-color: red;
}
footer *+.coppyright {
    margin-top: 4.05556rem;
}
footer .coppyright span:first-child {
    font-weight: 700;
    text-transform: uppercase;
    color: #db0003;
}
.mfControls{
    margin-top: 0;
    display: inline-block;
}
.anh{
    text-decoration: none;
    color:red;
    font-size: x-large;
}
.prince{
    color:red;
    font-weight: 700;
}
.beour{
    font-size: 2rem;
    line-height: 1.2;
}
.table h4+*{
    margin-top: 31px;
}
.i{
    color: red;
}
